* {
  margin: 0;
  padding: 0; }

body {
  font: normal 67%/1.4 Verdana, sans-serif;
  background: #899276 url(../images/raven.png) no-repeat 0 -1px;
  padding: 0 10px 10px 161px;
  width: 610px; }

table {
  border-collapse: separated;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a img {
    border: 0; }
  a:link, a:visited {
    color: #A6861A; }
  a:hover, a:focus, a:active {
    color: #DEB629; }

.clearing {
  clear: both; }

.structural {
  position: absolute;
  left: -9999em;
  top: -9999em; }

.nonvisual {
  display: none;
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: bold; }

.wrapper {
  background: #000;
  border: 1px solid #000;
  border-width: 1px 1px 0;
  overflow: hidden;
  margin: 0 0 10px; }
  .wrapper:after {
    content: '.';
    overflow: hidden;
    clear: both;
    display: block;
    height: 0; }
  * html .wrapper, *+html .wrapper {
    zoom: 1; }

.panel {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal; }
  ul .panel:last-child {
    margin-bottom: 1px; }
  .panel a:link, .panel a:visited {
    color: #EACF73; }
  .panel a:hover, .panel a:focus, .panel a:active {
    color: #F2EED2; }

.item {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal;
  margin: 0; }
  ul .item:last-child {
    margin-bottom: 1px; }
  .item a:link, .item a:visited {
    color: #EACF73; }
  .item a:hover, .item a:focus, .item a:active {
    color: #F2EED2; }

.panel-field {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal;
  margin: 0;
  border-width: 1px 0; }
  ul .panel-field:last-child {
    margin-bottom: 1px; }
  .panel-field a:link, .panel-field a:visited {
    color: #EACF73; }
  .panel-field a:hover, .panel-field a:focus, .panel-field a:active {
    color: #F2EED2; }

.caption-item {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal;
  margin: 0;
  font-weight: bold; }
  ul .caption-item:last-child {
    margin-bottom: 1px; }
  .caption-item a:link, .caption-item a:visited {
    color: #EACF73; }
  .caption-item a:hover, .caption-item a:focus, .caption-item a:active {
    color: #F2EED2; }

.heading {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal;
  background: #313526;
  font-size: 1.15em;
  line-height: 1.3;
  border-color: #414633 #20221A #20221A #414633; }
  ul .heading:last-child {
    margin-bottom: 1px; }
  .heading a:link, .heading a:visited {
    color: #EACF73; }
  .heading a:hover, .heading a:focus, .heading a:active {
    color: #F2EED2; }
  .heading a:link, .heading a:visited, .heading a:hover, .heading a:focus, .heading a:active {
    color: #fff; }

.content {
  background: #fff;
  color: #000;
  padding: 3px 5px;
  margin: 1px 0; }
  .content:after {
    content: '.';
    overflow: hidden;
    clear: both;
    display: block;
    height: 0; }
  * html .content, *+html .content {
    zoom: 1; }
  .content p {
    margin-bottom: 1.4em; }
    .content p:last-child {
      margin-bottom: 0; }

.department {
  background: #fff;
  color: #000;
  padding: 3px 5px;
  margin: 1px 0; }
  .department:after {
    content: '.';
    overflow: hidden;
    clear: both;
    display: block;
    height: 0; }
  * html .department, *+html .department {
    zoom: 1; }

.footer {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal; }
  ul .footer:last-child {
    margin-bottom: 1px; }
  .footer a:link, .footer a:visited {
    color: #EACF73; }
  .footer a:hover, .footer a:focus, .footer a:active {
    color: #F2EED2; }

.byline {
  text-align: right;
  padding-top: 7px;
  clear: both; }

.toolstrip {
  text-align: right; }
  .toolstrip li {
    display: inline; }
  .toolstrip a:before {
    content: '[';
    color: #fff; }
    .panel-footer .toolstrip a:before {
      color: #000; }
  .toolstrip a:after {
    content: ']';
    color: #fff; }

.panel-footer.toolstrip a:after, .panel-footer.toolstrip a:before {
  color: #000; }


#main-nav {
  position: absolute;
  top: 261px;
  left: -1px;
  width: 152px;
  padding-bottom: 1px; }

#content-main {
  width: 350px;
  float: left;
  padding-right: 10px; }

#content-aside {
  width: 250px;
  float: left; }

#catahya-net {
  float: left; }
  #catahya-net img {
    display: block; }

#header .heading {
  margin-left: 256px;
  height: 15px;
  width: 340px;
  overflow: hidden; }
#header .wrapper {
  border-top: 0; }

#dashboard {
  border: 1px solid #606F55;
  border-color: #606F55 #3D4736 #3D4736 #606F55;
  color: #fff;
  background: #4E5946;
  margin: 0 0 1px;
  line-height: 1.3;
  padding: 2px 5px;
  display: block;
  font-weight: normal;
  padding: 0;
  margin-bottom: 0;
  height: 96px;
  overflow: hidden;
  margin: 0 0 1px 1px;
  float: left;
  width: 350px; }
  ul #dashboard:last-child {
    margin-bottom: 1px; }
  #dashboard a:link, #dashboard a:visited {
    color: #EACF73; }
  #dashboard a:hover, #dashboard a:focus, #dashboard a:active {
    color: #F2EED2; }
  #dashboard:after {
    content: '.';
    overflow: hidden;
    clear: both;
    display: block;
    height: 0; }
  * html #dashboard, *+html #dashboard {
    zoom: 1; }
  #dashboard ul {
    float: left;
    width: 115px;
    list-style: none;
    padding: 9px 0 3px 9px; }
  #dashboard li:before {
    content: '·';
    float: left;
    width: 7px;
    margin: 0 0 0 -7px; }
  #dashboard li {
    padding: 0 0 0 5px; }
  #dashboard form {
    float: left;
    position: relative;
    top: -1px; }
  #dashboard .panel-field {
    padding: 3px 5px; }
    #dashboard .panel-field:first-child {
      padding-top: 6px; }
    #dashboard .panel-field input {
      width: 107px;
      line-height: 1.4; }
  #dashboard label {
    width: 87px;
    float: left;
    text-align: right;
    padding: 3px 9px 0 0; }
  #dashboard .toolstrip {
    border-top: 1px solid #606F55;
    padding: 3px 5px; }

.simple-list .date {
  float: left;
  padding: 3px 4px 0 5px;
  line-height: 1.4;
  color: #fff; }
.simple-list .item {
  line-height: 1.4; }

.panel-footer {
  padding: 3px 5px;
  color: #000;
  background: #fff;
  margin: 1px 0; }

.thumb-aside {
  float: right;
  margin: 0 0 5px 3px;
  width: 100px;
  border: 1px solid #000; }

.poll-results {
  border: 1px solid #aaa;
  border-width: 1px 0;
  padding: .6em 2px .3em;
  margin: -.5em 0 .7em; }
  .poll-results .bar {
    height: 15px;
    margin: .1em 0 .7em;
    display: block;
    background: #ececec; }
  .poll-results .amount {
    height: 15px;
    display: block;
    background: #4E5946;
    width: 0; }
  .poll-results .amount-1 {
    width: 1%; }
  .poll-results .amount-2 {
    width: 2%; }
  .poll-results .amount-3 {
    width: 3%; }
  .poll-results .amount-4 {
    width: 4%; }
  .poll-results .amount-5 {
    width: 5%; }
  .poll-results .amount-6 {
    width: 6%; }
  .poll-results .amount-7 {
    width: 7%; }
  .poll-results .amount-8 {
    width: 8%; }
  .poll-results .amount-9 {
    width: 9%; }
  .poll-results .amount-10 {
    width: 10%; }
  .poll-results .amount-11 {
    width: 11%; }
  .poll-results .amount-12 {
    width: 12%; }
  .poll-results .amount-13 {
    width: 13%; }
  .poll-results .amount-14 {
    width: 14%; }
  .poll-results .amount-15 {
    width: 15%; }
  .poll-results .amount-16 {
    width: 16%; }
  .poll-results .amount-17 {
    width: 17%; }
  .poll-results .amount-18 {
    width: 18%; }
  .poll-results .amount-19 {
    width: 19%; }
  .poll-results .amount-20 {
    width: 20%; }
  .poll-results .amount-21 {
    width: 21%; }
  .poll-results .amount-22 {
    width: 22%; }
  .poll-results .amount-23 {
    width: 23%; }
  .poll-results .amount-24 {
    width: 24%; }
  .poll-results .amount-25 {
    width: 25%; }
  .poll-results .amount-26 {
    width: 26%; }
  .poll-results .amount-27 {
    width: 27%; }
  .poll-results .amount-28 {
    width: 28%; }
  .poll-results .amount-29 {
    width: 29%; }
  .poll-results .amount-30 {
    width: 30%; }
  .poll-results .amount-31 {
    width: 31%; }
  .poll-results .amount-32 {
    width: 32%; }
  .poll-results .amount-33 {
    width: 33%; }
  .poll-results .amount-34 {
    width: 34%; }
  .poll-results .amount-35 {
    width: 35%; }
  .poll-results .amount-36 {
    width: 36%; }
  .poll-results .amount-37 {
    width: 37%; }
  .poll-results .amount-38 {
    width: 38%; }
  .poll-results .amount-39 {
    width: 39%; }
  .poll-results .amount-40 {
    width: 40%; }
  .poll-results .amount-41 {
    width: 41%; }
  .poll-results .amount-42 {
    width: 42%; }
  .poll-results .amount-43 {
    width: 43%; }
  .poll-results .amount-44 {
    width: 44%; }
  .poll-results .amount-45 {
    width: 45%; }
  .poll-results .amount-46 {
    width: 46%; }
  .poll-results .amount-47 {
    width: 47%; }
  .poll-results .amount-48 {
    width: 48%; }
  .poll-results .amount-49 {
    width: 49%; }
  .poll-results .amount-50 {
    width: 50%; }
  .poll-results .amount-51 {
    width: 51%; }
  .poll-results .amount-52 {
    width: 52%; }
  .poll-results .amount-53 {
    width: 53%; }
  .poll-results .amount-54 {
    width: 54%; }
  .poll-results .amount-55 {
    width: 55%; }
  .poll-results .amount-56 {
    width: 56%; }
  .poll-results .amount-57 {
    width: 57%; }
  .poll-results .amount-58 {
    width: 58%; }
  .poll-results .amount-59 {
    width: 59%; }
  .poll-results .amount-60 {
    width: 60%; }
  .poll-results .amount-61 {
    width: 61%; }
  .poll-results .amount-62 {
    width: 62%; }
  .poll-results .amount-63 {
    width: 63%; }
  .poll-results .amount-64 {
    width: 64%; }
  .poll-results .amount-65 {
    width: 65%; }
  .poll-results .amount-66 {
    width: 66%; }
  .poll-results .amount-67 {
    width: 67%; }
  .poll-results .amount-68 {
    width: 68%; }
  .poll-results .amount-69 {
    width: 69%; }
  .poll-results .amount-70 {
    width: 70%; }
  .poll-results .amount-71 {
    width: 71%; }
  .poll-results .amount-72 {
    width: 72%; }
  .poll-results .amount-73 {
    width: 73%; }
  .poll-results .amount-74 {
    width: 74%; }
  .poll-results .amount-75 {
    width: 75%; }
  .poll-results .amount-76 {
    width: 76%; }
  .poll-results .amount-77 {
    width: 77%; }
  .poll-results .amount-78 {
    width: 78%; }
  .poll-results .amount-79 {
    width: 79%; }
  .poll-results .amount-80 {
    width: 80%; }
  .poll-results .amount-81 {
    width: 81%; }
  .poll-results .amount-82 {
    width: 82%; }
  .poll-results .amount-83 {
    width: 83%; }
  .poll-results .amount-84 {
    width: 84%; }
  .poll-results .amount-85 {
    width: 85%; }
  .poll-results .amount-86 {
    width: 86%; }
  .poll-results .amount-87 {
    width: 87%; }
  .poll-results .amount-88 {
    width: 88%; }
  .poll-results .amount-89 {
    width: 89%; }
  .poll-results .amount-90 {
    width: 90%; }
  .poll-results .amount-91 {
    width: 91%; }
  .poll-results .amount-92 {
    width: 92%; }
  .poll-results .amount-93 {
    width: 93%; }
  .poll-results .amount-94 {
    width: 94%; }
  .poll-results .amount-95 {
    width: 95%; }
  .poll-results .amount-96 {
    width: 96%; }
  .poll-results .amount-97 {
    width: 97%; }
  .poll-results .amount-98 {
    width: 98%; }
  .poll-results .amount-99 {
    width: 99%; }
  .poll-results .amount-100 {
    width: 100%; }

.inline-heading {
  display: inline; }
  .inline-heading:after {
    content: ' · '; }
