if defined?(Sinatra)
  project_path = Sinatra::Application.root
  environment = :development
else
  css_dir = File.join 'public', 'css'
  relative_assets = true
  environment = :production
end

sass_dir = File.join 'scss'
images_dir = File.join 'public', 'img'
http_path = "/"
http_images_path = "/img"
http_stylesheets_path = "/css"